asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Django==4.2.7
django-cors-headers==4.3.1
django-rest-framework-mongoengine==3.4.1
django-rest-knox==4.2.0
djangorestframework==3.14.0
dnspython==2.4.2
gunicorn==20.1.0
idna==3.6
mongoengine==0.27.0
psycopg2-binary==2.9.9
pycparser==2.21
pykerberos==1.2.4
pymongo==4.6.0
python-snappy==0.6.1
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.1.0
